.home-content {
    padding-top: 100px;
}

.custom-indicators {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 400px;
    border-radius: 15px;
    object-fit: cover;
}


.custom-indicators button {
    background: transparent;
    border: solid white 2px;
    margin: 10px;
    transition: background-color 0.2s;
}

.custom-carousel-button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 0 !important; 
    min-height: 0 !important;
}

.custom-indicators button.active {
    background-color: white;
}

/* ---------------------------------STYLES POSTS HOME---------------------------------- */
.image-custom {
    border-radius: 0px 15px 15px 15px;
}

.position-relative {
    position: relative;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #012D4A;
    padding: 10px;
}

.edit-text {
    color: white;
    text-decoration: none;
}

.edit-text-title {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.edit-text-title:hover {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration-line: underline;
}

.edit-text-title:focus,
.edit-text-title:active,
.edit-text-title:visited {
    color: white;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}
/* ---------------------------------INIT STYLES POSTS THREE---------------------------------- */
.three-images-custom {
    border-radius: 15px;
}

.three-recent-post-title {
    display: block;
    white-space: nowrap;
    overflow: hidden; /* ESCONDE O CONTEUDO QUE ULTRAPASSAR */
    text-overflow: ellipsis; /* ADICIONA 3 PONTINHOS NO FINAL*/
}

.three-edit-text-title {
    font-size: 18px;
    font-weight: 500;
    color: #005893;
    text-decoration: none;
    -webkit-line-clamp: 1; /* LIMITA A QUANTIDADE DE LINHAS */
}

.three-edit-text-title:hover {
    font-size: 18px;
    font-weight: 500;
    color: #005893;
    text-decoration-line: underline;
}

.three-edit-text-title:focus,
.three-edit-text-title:active,
.three-edit-text-title:visited {
    color: #005893;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.three-img img {
    object-fit: cover;
    width: 100%;
    max-height: 113.5px;
}

.three-recent-post-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* LIMITA A QUANTIDADE DE LINHAS */
    overflow: hidden;
}
/* ---------------------------------END STYLES POSTS THREE---------------------------------- */













