.home-content {
    margin-top: 100px;
}

.custom-indicators {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 400px;
    border-radius: 15px;
    object-fit: cover;
}

// .carousel-item {
//     display: block;
    
//     @include aspect-ratio(16, 5);
    
//     img {
//         width: 100%;
//         height: 100%;
//         border-radius: 15px;
//         object-fit: cover;
//     }
// }


.custom-indicators button {
    background: transparent;
    border: solid white 2px;
    margin: 10px;
    transition: background-color 0.2s;
}

.custom-carousel-button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 0 !important; 
    min-height: 0 !important;
}

.custom-indicators button.active {
    background-color: white;
}

/* ---------------------------------STYLES POSTS HOME---------------------------------- */
.image-custom {
    border-radius: 0px 15px 15px 15px;
}

.position-relative {
    position: relative;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #012D4A;
    padding: 10px;
}

.edit-text {
    color: white;
    text-decoration: none;
}

.edit-text-title {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.edit-text-title:hover {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration-line: underline;
}

.edit-text-title:focus,
.edit-text-title:active,
.edit-text-title:visited {
    color: white;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}
/* ---------------------------------INIT STYLES POSTS THREE---------------------------------- */
.three-images-custom {
    border-radius: 15px;
}

.three-recent-post-title {
    display: block;
    white-space: nowrap;
    overflow: hidden; /* ESCONDE O CONTEUDO QUE ULTRAPASSAR */
    text-overflow: ellipsis; /* ADICIONA 3 PONTINHOS NO FINAL*/
}

.three-edit-text-title {
    font-size: 18px;
    font-weight: 500;
    color: #005893;
    text-decoration: none;
    -webkit-line-clamp: 1; /* LIMITA A QUANTIDADE DE LINHAS */
}

.three-edit-text-title:hover {
    font-size: 18px;
    font-weight: 500;
    color: #005893;
    text-decoration-line: underline;
}

.three-edit-text-title:focus,
.three-edit-text-title:active,
.three-edit-text-title:visited {
    color: #005893;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.three-img img {
    object-fit: cover;
    width: 100%;
    max-height: 113.5px;
}

.three-recent-post-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* LIMITA A QUANTIDADE DE LINHAS */
    overflow: hidden;
}
/* ---------------------------------END STYLES POSTS THREE---------------------------------- */

/* ---------------------------------INIT HISTORY POST---------------------------------- */
.slick-dots {
    display: none !important;
}

.container-history {
    text-align: center;
    position: relative;
    background-color: white;
}

.content-history {
    background-color: white;
    max-width: 98%;
    text-align: start;
    margin: 10px;
    margin-top: 12px;
    border-radius: 25px;
}
.square {
    width: 150px;
    height: 150px;
    border-radius: 35px;
    background-color: #C5158C;
    position: absolute;
}
.container-content-history {
    padding: 50px;
}
.container-img-history {
    
    @include aspect-ratio(4, 4);
            
        img {
            padding-left: 12px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

.img-history {
    border-radius: 30px;       
 
}
     
.history-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #C5158C;
}
.history-text {
    max-height: 6em; /* Altura máxima para 4 linhas (ajuste conforme necessário) */
    overflow: hidden;
    line-height: 1.5; /* Altura da linha */
}

.button-1 {
    padding: 15px 20px 15px 30px;
    text-decoration: none;
    background-color: #C5158C;
    color: white;
    border-radius: 25px;
    font-weight: bold;
}
.margin {
    margin-top: 70px;
}
.button-1:focus,
.button-1:active,
.button-1:visited {
    color: white;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.button-2 {
    padding: 15px 20px 15px 30px;
    text-decoration: none;
    color: #4F5354;
    font-weight: bold;
}

.button-2:hover {
    padding: 13px 18px 13px 28px;
    border: #4F5354 2px solid;
    border-radius: 25px;
    transition: 0.1s;
}

.button-2:focus,
.button-2:active,
.button-2:visited {
    color: #4F5354;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.arrows{
    padding-left: 30px;
    padding-right: 10px;
}
.arrows-next-previus{
    border: solid 2px #C5158C;
    background-color: #C5158C;
    color: white;
    border-radius: 15px;
    padding: 2px 70px 2px 70px;
    margin:  0 70px 0 70px;
}
.arrows-next-previus:hover{
    border: solid 2px #C5158C;
    background-color: white;
    color: #C5158C;
    border-radius: 15px;
    padding: 2px 70px 2px 70px;
    margin: 0 70px 0 70px;
}








